<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionStringDeVluggehandjes" 
			 connectionString="Data Source=360580-vluggehandjes.database.windows.net;Initial Catalog=VluggeHandjes;Integrated Security=False;Username=Quinten;Password=P@ssword"
			 />
	</connectionStrings>
</configuration>